<div class="container--small">
  <h1>Kontakt</h1>
  <h2>Schreiben Sie uns eine Nachricht</h2>
  <%= flash[:notice] %>
  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="field">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, placeholder: "Ihr Name", class: "form__text-field" %>
  </div>
  <div class="field">
    <%= form.label :email, "E-Mail*", class: "form__label" %>
    <%= form.text_field :email, placeholder: "Ihre E-Mail Adresse", pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', required: true, class: "form__text-field" %>
  </div>
  <div class="field-mockup--height">
    <%= form.label :message, "Nachricht*", class: "form__label" %>
    <%= form.text_area :message, placeholder: "Ihre Nachricht", required: true, rows: 5, class: "form__text-field" %>
  </div>
  <p><%= form.submit "Absenden", class: "form__btn form__btn--primary" %></p>
  <% end %>
  <p><em>Alle mit * gekennzeichneten Felder sind Pflichtfelder<em></p>
</div>
