<div class="container-mockup--height">
  <h1>Charly beheizbare Handschuhe</h1>
  <h2>Elektrisch beheizbare Handschuhe mit Lithium-Polymer-Ionen (Li-Po-Ion) Akku-Technologie</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @products.each do |product| %>
      <div class="carousel-item<%= " active" if product == @products.first %>">
        <%= image_tag(product.image_url, class: "img-fluid carousel-img", alt: product.name) %>
        <div class="carousel-caption d-none d-md-block">
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
        </div>
      </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span aria-hidden="true"><%= image_tag("angle-left-solid.svg", class: "img-fluid carousel-control", alt: "Previous") %></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span aria-hidden="true"><%= image_tag("angle-right-solid.svg", class: "img-fluid carousel-control", alt: "Next") %></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
