<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "Artikelbezeichnung", class: "form__label" %>
    <%= form.text_field :name, class: "form__text-field" %>
  </div>
  <div class="field">
    <%= form.label :description, "Kurzbeschreibung", class: "form__label" %>
    <%= form.text_area :description, rows: "10", class: "form__text-field" %>
  </div>
  <div class="field">
    <%= form.label :image_url, "Bild-URL", class: "form__label" %>
    <%= form.text_field :image_url, class: "form__text-field" %>
  </div>
  <div class="field">
    <%= form.label :colour, "Farbe", class: "form__label" %>
    <%= form.text_field :colour, class: "form__text-field" %>
  </div>
  <div class="field">
    <%= form.label :price, "Preis", class: "form__label" %>
    <%= form.text_field :price, class: "form__text-field" %>
  </div>
  <p class="actions">
    <%= form.submit "absenden", class: "form__btn form__btn--primary" %>
  </p>
<% end %>
