<div class="col-xs-12 col-md-6 col-lg-4 px-0 d-flex align-content-stretch flex-wrap">
  <div class="box">
    <%= image_tag(product.image_url, class: "img-fluid img__product", alt: product.name) %>
  </div>
  <div class="box box--bottom">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p>Farbe: <%= product.colour %></p>
    <p>Preis: <%= number_to_currency(product.price, :locale => :de) %></p>
    <p><%= link_to "Artikeldetails", product %></p>
  </div>
</div>
