<div class="container-mockup--height">
  <h1>Produkte</h1>
  <h2>Elektrisch beheizbare Handschuhe mit Lithium-Polymer-Ionen (Li-Po-Ion) Akku-Technologie</h2>
  <div class="row">
    <%= render @products %>
    <div class="col-xs-12 col-md-6 col-lg-4 px-0 d-flex align-content-stretch flex-wrap">
      <div class="box">
        <%= image_tag("plus-circle-solid.svg", class: "img-fluid img__product", alt: "Neues Produkt hinzufügen") %>
      </div>
      <div class="box box--bottom">
        <p><%= link_to 'Neues Produkt hinzufügen', new_product_path %></p>
      </div>
    </div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Colour</th>
      <th>Price</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.colour %></td>
        <td><%= product.price %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %> -->
