<h1>Artikeldetails</h1>
<h2><%= @product.name %></h2>
<div class="inline" data-product-id="<%= @product.id %>">

  <p><%= image_tag(@product.image_url, class: "img-fluid img__float img-zoom", alt: @product.name, width: "350", data_zoom_image: @product.image_url) %></p>

  <p>
    <strong>Kurzbeschreibung:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Farbe:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Preis:</strong>
    <%= number_to_currency(@product.price, :locale => :de) %>
  </p>

  <% if !signed_in? %>
    <p>
      <%= link_to('Login', new_user_session_path) %> zum kaufen!
    </p>
  <% end %>

  <% if signed_in? %>
    <p>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= form.submit "Jetzt kaufen", class: "form__btn form__btn--primary" %>
      <% end %>
    </p>
  <% end %>

  <p id="average-rating" class="rated" data-score="<%= @product.average_rating %>"><strong>Durchschnittliche Kundenbewertung:</strong><br></p>

  <p><button type="button" class="form__btn form__btn--secondary"><%= link_to 'Produkt bearbeiten', edit_product_path(@product) %></button></p>
  <p><button type="button" class="form__btn form__btn--secondary"><%= link_to 'Zur Produktübersicht', products_path %></button></p>

  <p>Dieses Produkt wurde bereits <strong><%= @product.views %></strong> Mal angesehen.</p>

</div>

<div>
  <%= render 'new_comment' %>
</div>

<h2>Kundenbewertungen</h2>
<div class="alert alert-info" style="display:none" role="alert">Eine neue Kundenbewertung wurde veröffentlicht!</div>
<p>
  <div class="product-reviews row">
    <%= render 'comments' %>
  </div>
  <%= will_paginate @comments, :previous_label => '&larr; Zurück', :next_label => 'Vor &rarr;', :page_links => false, class: "center" %>
</p>
